 <!-- Start Bradcaump area -->
 <div class="ht__bradcaump__area" style="background: rgba(0, 0, 0, 0) url(website/images/about.png) no-repeat scroll center center / cover ;">
    <div class="ht__bradcaump__wrap">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="bradcaump__inner">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Bradcaump area -->
<!-- Start Product Details Area -->
<section class="htc__product__details bg__white ptb--100">
    <!-- Start Product Details Top -->
    <div class="htc__product__details__top">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12">
                    <div class="htc__product__details__tab__content">
                        <!-- Start Product Big Images -->
                        <div class="product__big__images">
                            <div class="portfolio-full-image tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="img-tab-1">
                                    <img src="website/images/BIG.png" alt="full-image">
                                </div>
                            </div>
                        </div>
                        <!-- End Product Big Images -->
                        
                    </div>
                </div>
                <div class="col-md-7 col-lg-7 col-sm-12 col-xs-12 smt-40 xmt-40">
                    <div class="ht__product__dtl">
                        <h1><span>ABOUT US</span></h1>
                      
                        <p class="pro__info">Aapki Dukaan encourages all the small scale enterpreneurs to come online and expand their business. We provide a platform to the Indian small scale enterpeneurs and promote the Indian Government's <span>'MAKE IN INDIA'</span> movement, which makes the Indian buyers aware of the Indian handicraft culture and it's diverse range as well as the importance of the home-made products. Promoting and selling the products nationwide will boost-up the Indian market and spread awareness of Handicraft goods in the country. Soon we will be available on all social media platforms.</p>

                        <div class="ht__pro__desc">
                            <div class="sin__desc">
                             
                            </div>
                            <div class="sin__desc align--left">
                        
                            </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Product Details Top -->
</section>
<!-- End Product Details Area -->
<!-- Start Product Description -->
<section class="htc__produc__decription bg__white">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <!-- Start List And Grid View -->
                <ul class="pro__details__tab" role="tablist">
                    <li role="presentation" class="description active"><a href="#description" role="tab" data-toggle="tab">TERMS & CONDITIONS </a></li>
                </ul>
                <!-- End List And Grid View -->
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="ht__pro__details__content">
                    <!-- Start Single Content -->
                    <div role="tabpanel" id="description" class="pro__single__content tab-pane fade in active">
                        <div class="pro__tab__content__inner">
                            <p>Aapki Dukaan Marketplace is India’s leading platform for selling online. Be it a manufacturer, vendor or supplier, simply sell your products online on Aapki Dukaan and become a top e-commerce player with minimum investment. Through a team of experts offering exclusive seller workshops, training, and seller support, Aapki Dukaan focuses on empowering sellers across India. Selling on Aapki Dukaan.com is easy and absolutely free. All you need is to register, list your catalogue and start selling your products. What's more? We have third party ‘Ecommerce Service Providers, we help small scale entrepreneurs grow’ who provide logistics, cataloguing support, product photoshoot and packaging materials. We have a program called Seller Protection Fund to safeguard sellers from losses via compensations. We provide Aapki Dukaan Fulfilment services through which you can ensure faster delivery of your items, quality check by our experts and a delightful packaging. Combine these with the fastest payments in the industry and you get an excellent seller portal. No wonder Aapki Dukaan is India’s favourite place to sell online.</p>

                        </div>
                    </div>
                    <!-- End Single Content -->
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Product Description -->
<!-- Start Product Area -->
  <!-- Start Product Area -->
<section class="htc__product__area--2 pb--100 product-details-res">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section__title--2 text-center">
                    <h2 class="title__line">Our Sellers</h2>
                    <p>Who we helped to grow!</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="product__wrap clearfix">
                <!-- Start Single Product -->
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="category">
                        <div class="ht__cat__thumb">
                            <a href="product-details.html">
                                <img src="website/images/photo-1464863979621-258859e62245.jpg" alt="product images">
                            </a>
                        </div>
                        <div class="fr__hover__info">
                           
                        </div>
                        <div class="fr__product__inner">
                            <h4><a href="product-details.html">Rachel Longford </a></h4>
                            <ul class="fr__pro__prize">
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Single Product -->
                <!-- Start Single Product -->
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="category">
                        <div class="ht__cat__thumb">
                            <a href="product-details.html">
                                <img src="website/images/photo-1476657680631-c07285ff2581.jpg" alt="product images">
                            </a>
                        </div>
                        <div class="fr__hover__info">
                          
                        </div>
                        <div class="fr__product__inner">
                            <h4><a href="product-details.html">Rajveer Singh </a></h4>
                            <ul class="fr__pro__prize">
                           
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Single Product -->
                <!-- Start Single Product -->
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="category">
                        <div class="ht__cat__thumb">
                            <a href="product-details.html">
                                <img src="website/images/photo-1524666041070-9d87656c25bb.jpg" alt="product images">
                            </a>
                        </div>
                        <div class="fr__hover__info">
                      
                        </div>
                        <div class="fr__product__inner">
                            <h4><a href="product-details.html">Rahul Sharma </a></h4>
                            <ul class="fr__pro__prize">
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Single Product -->
                <!-- Start Single Product -->
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="category">
                        <div class="ht__cat__thumb">
                            <a href="product-details.html">
                                <img src="website/images/photo-1546961329-78bef0414d7c.jpg" alt="product images">
                            </a>
                        </div>
                        <div class="fr__hover__info">
                        
                        </div>
                        <div class="fr__product__inner">
                            <h4><a href="product-details.html">Monica </a></h4>
                            <ul class="fr__pro__prize">
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Single Product -->
            </div>
        </div>
    </div>
</section>
   
<!-- End Product Area -->